<a href="https://colab.research.google.com/github/NitinSingh8/self_ML/blob/main/Pandas/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The file contain all the concept which i know related to pandas module in python

In [2]:
import pandas as pd   # importing the pandas module
import numpy as np    # importing the numpy module

Series in Pandas

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

series_data = pd.Series(data = my_data)
print(series_data) # with default labels

series_data = pd.Series(data = my_data,index = labels)
print(series_data) # with labels

series_data = pd.Series(arr,labels)
print(series_data) # with labels (numpy instead of list)

series_data = pd.Series(d)
print(series_data) # with dictionary( no need of labels now bcz dictionary have label as place of key)



# we can access the data by passing label in series like 
# print(series_data['a']) # return 10
# print(series_data['c']) # return 30

0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64

DataFrame in Pandas

In [5]:
# with data and columns (using list in list , columns)

df = pd.DataFrame([[1,'Nitin','Singh'],[2,'XYZ','Singh'],[3,'ABC','Singh']],columns=['S.No','firstname','lastname'])
print(df)
print()
# with data , index number , columns
df = pd.DataFrame([[1,'Nitin','Singh'],[2,'XYZ','Singh'],[3,'ABC','Singh']], index= ['A','B','C'] , columns=['S.No','firstname','lastname'])
print(df)

   S.No firstname lastname
0     1     Nitin    Singh
1     2       XYZ    Singh
2     3       ABC    Singh

   S.No firstname lastname
A     1     Nitin    Singh
B     2       XYZ    Singh
C     3       ABC    Singh

In [6]:
# with data and columns (using dictionary in list)
df = pd.DataFrame([{'S.No':1,'firstname':'Nitin','lastname':'Singh'},{'S.No':2,'firstname':'XYZ','lastname':'Singh'}])
print(df)
print()
# with data ,index , columns (using dictionary in list)
df = pd.DataFrame([{'S.No':1,'firstname':'Nitin','lastname':'Singh'},{'S.No':2,'firstname':'XYZ','lastname':'Singh'}],index=['A','B'])
print(df)

   S.No firstname lastname
0     1     Nitin    Singh
1     2       XYZ    Singh

   S.No firstname lastname
A     1     Nitin    Singh
B     2       XYZ    Singh

Acess the data

In [28]:

df = pd.DataFrame([[1,'Nitin','Singh'],[2,'XYZ','Singh'],[3,'ABC','Singh']], index= ['A','B','C'] , columns=['S.No','firstname','lastname'])
print(df)

print()

# Access row with index
print(df.loc['A']) # Access the row by pasing that respective index ( if you haven't specify the index then default index value start from 0)


print()

# Access the column by column name
print(df['firstname'])

print()

# Access a particular data
print(df.loc['A','firstname']) # df.loc[index name ,column name]

   S.No firstname lastname
A     1     Nitin    Singh
B     2       XYZ    Singh
C     3       ABC    Singh

S.No             1
firstname    Nitin
lastname     Singh
Name: A, dtype: object

A    Nitin
B      XYZ
C      ABC
Name: firstname, dtype: object

Nitin

How to add row , column in existing datafram

In [18]:
df = pd.DataFrame([[1,'Nitin','Singh'],[2,'XYZ','Singh'],[3,'ABC','Singh']], index= ['A','B','C'] , columns=['S.No','firstname','lastname'])
print(df)

print()
# adding one column with name 'age' in datafram
df['age'] = [19,18,18]
print(df)

print()

# adding one row means one more data in datafram 
df = df.append({'S.No':4,'firstname':'DEF','lastname':'Singh'},ignore_index=True)
print(df)

   S.No firstname lastname
A     1     Nitin    Singh
B     2       XYZ    Singh
C     3       ABC    Singh

   S.No firstname lastname  age
A     1     Nitin    Singh   19
B     2       XYZ    Singh   18
C     3       ABC    Singh   18

   S.No firstname lastname   age
0     1     Nitin    Singh  19.0
1     2       XYZ    Singh  18.0
2     3       ABC    Singh  18.0
3     4       DEF    Singh   NaN

Delete the particular data

In [23]:
# how to delete column from data frame
'''
df.drop(column_name/Row_name ,axis = 1,inplace = True)
            axis = 1 for column
            axis =  0 for row
'''

df = pd.DataFrame([[1,'Nitin','Singh'],[2,'XYZ','Singh'],[3,'ABC','Singh']], index= ['A','B','C'] , columns=['S.No','firstname','lastname'])
print(df)

print()

# delete a column from dataframe
df = df.drop(columns='lastname')
print(df)

print()

# delete a row from dataframe
df = df.drop(index= 'C')
print(df)

   S.No firstname lastname
A     1     Nitin    Singh
B     2       XYZ    Singh
C     3       ABC    Singh

   S.No firstname
A     1     Nitin
B     2       XYZ
C     3       ABC

   S.No firstname
A     1     Nitin
B     2       XYZ

extract particular row and column from dataframe

In [26]:
df = pd.DataFrame([[1,'Nitin','Singh'],[2,'XYZ','Singh'],[3,'ABC','Singh'],[4,'DEF','Singh']], index= ['A','B','C','D'] , columns=['S.No','firstname','lastname'])
print(df)

print()

# taking first two row and first two column in new dataframe
new_df = df.loc[['A','B'],['S.No','firstname']]    # df.loc[list of index , list of columns]
print(new_df)

   S.No firstname lastname
A     1     Nitin    Singh
B     2       XYZ    Singh
C     3       ABC    Singh
D     4       DEF    Singh

   S.No firstname
A     1     Nitin
B     2       XYZ

Read csv file

In [30]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [34]:
# getting first five rows
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [36]:
# getting last five rows
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [40]:
# find how many rows we have
df.shape
# output is (3000,9) means 3000 rows and 9 columns

(3000, 9)

In [38]:
# getting columns name
print(list(df.columns))

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']